@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("/fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: local("OpenSans-Semibold"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype"), url("/fonts/OpenSans-Semibold/OpenSans-Semibold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Lisght';
  src: url("/fonts/OpenSans-Light/OpenSans-Light.eot");
  src: local("OpenSans-Lisght"), url("/fonts/OpenSans-Light/OpenSans-Light.woff") format("woff"), url("/fonts/OpenSans-Light/OpenSans-Light.ttf") format("truetype"), url("/fonts/OpenSans-Light/OpenSans-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-CondensedBold';
  src: url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.eot");
  src: local("OpenSans-CondensedBold"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.woff") format("woff"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.ttf") format("truetype"), url("/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("/fonts/OpenSans/OpenSans.eot");
  src: local("Open-Sans"), url("/fonts/OpenSans/OpenSans.woff") format("woff"), url("/fonts/OpenSans/OpenSans.ttf") format("truetype"), url("/fonts/OpenSans/OpenSans.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

.logo {
  height: 198px;
  width: 178px;
  float: right;
}

.header {
  height: 707px;
  /*position:relative;
  z-index: 10;*/
}

/*.header__img {
  position: absolute;
  right: 200px;
  bottom: 0px;
  z-index: -999999;
}
*/

.chickens {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/header-layer.png") top center no-repeat;
}

.cows {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/cows-layout.jpg") top center no-repeat;
}

.pigs {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/pigs-layout.jpg") top center no-repeat;
}

.rams {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/rams-layout.jpg") top center no-repeat;
}

.main-layout {
  background: url("/images/header-shadow-top.png") top center repeat-x, url("/images/main-layout.jpg") top center no-repeat;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

.header--wrapper {
  width: 1200px;
  margin: auto;
}

.header-menu {
  height: 57px;
  background: rgba(121, 154, 50, 0.8);
  width: 100%;
}

.menu ul {
  margin: 0;
  height: inherit;
  vertical-align: middle;
}

.menu ul li {
  width: 300px;
  font-family: "OpenSans-Semibold", sans-serif;
  font-size: 0.9em;
  display: inline;
  padding: 20px 20px;
  color: white;
  height: inherit;
  vertical-align: middle;
  line-height: 57px;
  text-transform: uppercase;
  background: url("/images/menu-devider.png") left center no-repeat;
}

.menu ul li.menu__first {
  background: none;
}

.menu ul li:hover {
  height: inherit;
}

.menu ul li a {
  padding: 10px;
  color: white;
  text-decoration: none;
  font-size: 0.9em;
}

.application .theme--light.list.top-menu,
.theme--light .list.top-menu {
  background: none;
  color: #ffff;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.top-menu__item {
  display: inline-block;
  background: url("/images/menu-devider.png") left center no-repeat;
}

.top-menu__item .list__tile {
  height: 57px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  font-size: 0.99em;
}

.cart {
  width: 156px;
  height: 57px;
  background: #306b1c;
  font-family: "OpenSans-CondensedBold", sans-serif;
}

.cart table {
  font-family: "OpenSans-Lisght", sans-serif;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-size: 0.8em;
}

.cart__col-yell {
  color: #F3C042;
}

.cart__img {
  padding-right: 10px;
}

.find {
  padding-top: 19px;
}

.main-slogan {
  height: 121px;
  margin-top: 60px;
  color: white;
  background: url("/images/slogan-ln.png") left center repeat-y;
  line-height: 40px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 3.2em;
  text-transform: uppercase;
  text-align: left;
  padding-left: 10px;
}

.sub-slogan {
  font-size: 0.8em;
}

.main-slogan__from {
  font-size: 0.25em;
  padding: 3px 8px;
  margin-left: 5px;
  background: #2A6319;
}

.phone {
  width: 400px;
  height: 151px;
  margin-top: 20px;
  color: white;
}

.phone__sun {
  font-size: 0.8em;
  width: 300px;
  padding: 3px 8px;
  background: #339900;
}

.phone__number {
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 2em;
  text-transform: uppercase;
}

.phone__callback {
  font-size: 0.9em;
  margin-top: 20px;
  display: inline-block;
  background: none;
  border: 2px solid #ffbf00;
  -mox-border-radius: 6px;
  border-radius: 6px;
  padding: 7px;
  font-weight: bold;
  color: #ffbf00;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  background: url("/images/phone-img.png") left 4px center no-repeat;
  padding-left: 30px;
}

.footer__address {
  color: #ffff;
  font-size: 1.2em;
}

.animal-panel {
  width: 1200px;
  height: 151px;
  margin-top: 253px;
  margin-left: 70px;
  color: black;
  padding-left: 10px;
}

.animal-panel img {
  display: inline-block;
  margin-left: 30px;
}

.menu-left-img {
  position: absolute;
  z-index: 100;
  margin-top: -70px;
}

.menu-left-wrappers {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 100;
  margin-top: -60px;
  overflow: visible;
  -mox-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

.theme--light .menu-left-wrappers .list {
  background: url("/images/menu-left-wrapper.png") repeat right top;
}

.menu-left-wrappers .list__group__items--no-action .list__tile {
  padding-left: 20px;
}

.menu-left-wrappers .list__group__items .list__tile:hover {
  background: rgba(0, 0, 0, 0.1);
}

.menu-left-item-el {
  font-size: 0.9em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #B16C3D;
}

.menu-left-wrapper {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 1000;
  overflow: visible;
}

.menu-left {
  margin: -5px;
  /*border-width: 1px;
  border-color: black;
  border-style: dashed;
  @include border-radius(10px);*/
  background: url("/images/menu-left-wrapper.png") repeat right top;
  -mox-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 10px;
}

.menu-left__hr-img {
  margin-left: -7px;
}

.menu-left__header {
  font-size: 1.6em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  color: #ffff;
  background: url("/images/menu-left-header.png") no-repeat center center, #ffbf00;
  text-transform: uppercase;
}

/*.menu-left ul {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.menu-left-item {
  background: url('/images/menu-left-item-lay.png') repeat-x center center;
  font-size: 1em;
  line-height: 1.5;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  display: block;
}

.menu-left-item img {
  float: right;
}

.menu-left-item a  {
  text-decoration: none;
  color: $color-white;
  font-size: 1.2em;
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;
}

.menu-left span ul li {
  list-style: none;
  padding-left: 20px;
  padding: 5px;
  //display: none;
}

.menu-left span ul li a {
  text-decoration: none;
  color: $color-green;
  font-family: $font-os-light;
  padding-left: 5px;
}

.menu-left__main-menu {
  position: relative;
}

.menu-left__main-menu .sub-menu {
  position: absolute;
  left: 280px;
  z-index: 10;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  //background: #fcf8e3;
  background: url('/images/menu-left-wrapper.png') repeat right top;
  @include border-radius(0px 0px 10px 10px);
  border: 3px solid $color-green-light;
}


.sub-menu__block {
  float: left;
  margin-right: 40px;
}

.sub-menu__block  {
  text-decoration: underline;
  font-size: 0.8em;
}

.sub-menu__block ul li span {
  display: block;
  margin-bottom: 10px;
}

.sub-menu__block ul li span a{
  color: $color-green-light;
  text-decoration: underline;
  font-size: 1.1em;
  //font-family: $font-size-base;
}*/

.menu-left-wrappers .list__group__header {
  background: url("/images/menu-left-item-lay.png") repeat-x center center;
  color: #ffff;
  font-size: 1.2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  /*line-height: 1.5;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  display: block;*/
}

.theme--light .menu-left-wrappers .list .list__group__header:hover {
  background: url("/images/menu-left-item-lay.png") repeat-x center center;
}

.list-menu-left {
  padding-top: 0px;
  -mox-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.menu-left-h {
  width: 262px;
}

.sub-menu {
  background: url("/images/menu-left-wrapper.png") repeat right top;
  padding: 10px;
  border: 3px solid #B16C3D;
  -mox-border-radius: 0px 0px 10px 10px;
  border-radius: 0px 0px 10px 10px;
}

.sub-menu__head > li {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
}

.sub-menu__head li {
  list-style: none;
}

.sub-menu__head a {
  margin-left: 10px;
  margin-top: 5px;
  color: #B16C3D;
  text-decoration: underline;
  font-family: "OpenSans-Semibold", sans-serif;
}

.sub-menu__item a {
  font-size: 0.8em;
  color: #56331d;
}

.application .theme--light.footer__menu.list,
.theme--light .sub-menu .list {
  background: none;
}

.sub-menu .list__tile {
  font-family: "Open-Sans", sans-serif;
  font-size: 0.9em;
  height: 22px;
}

.sub-menu .list__tile > a {
  color: #56331d;
}

.sub-menu__header {
  padding-left: 15px;
  color: #346e1d;
}

.application .theme--light.list .list__group--active:after,
.application .theme--light.list .list__group--active:before,
.application .theme--light.list .list__group__header:hover,
.application .theme--light.list .list__tile--highlighted,
.application .theme--light.list .list__tile--link:hover,
.theme--light .list .list__group--active:after,
.theme--light .list .list__group--active:before,
.theme--light .list .list__group__header:hover,
.theme--light .list .list__tile--highlighted,
.theme--light .list .list__tile--link:hover {
  background: rgba(0, 0, 0, 0);
}

.content-wrapper-top {
  background: url("/images/tree-layer-top.png") top center repeat;
  height: 29px;
}

.content-wrapper {
  width: 100%;
  background: url("/images/tree-layer.png") top center repeat;
  padding-bottom: 20px;
}

.content {
  margin: auto;
  font-size: 0.9em;
  width: 1200px;
}

.content__header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #ffff;
  background: url("/images/banner-header.png") left center no-repeat;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
  margin-left: 50px;
}

.content__subheader {
  color: #ffbf00;
}

.content__buttom {
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid #ffbf00;
  padding: 7px;
  font-size: 1.3em;
  color: #ffbf00;
  text-transform: uppercase;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  margin-right: 15px;
  padding: 5px 10px;
}

.content__banner {
  margin: 0px 20px;
}

.content--leftmargin310 {
  margin-left: 310px;
}

.special-product {
  width: 263px;
  height: 390px;
  -mox-border-radius: 0px 0px 6px 6px;
  border-radius: 0px 0px 6px 6px;
  display: block;
  background: url("/images/special-product__item-head-lay.png") top center no-repeat;
  background-color: #ffff;
  margin: 0 auto;
  padding: 0px 0px 10px 0px;
}

.special-product__header {
  height: 82px;
  line-height: 82px;
}

.special-product__header > a {
  color: #346e1d;
  font-size: 1.1em;
  font-family: "OpenSans-Semibold", sans-serif;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.25;
  text-decoration: none;
  padding: 0 15px;
}

.special-product__img {
  margin-top: 10px;
  padding: 5px 10px;
  height: 180px;
  line-height: 180px;
}

.special-product__img > img {
  vertical-align: middle;
}

.special-product__desc {
  font-size: 1.1em;
  font-family: sans-serif, "Open-Sans", sans-serif;
  border-bottom: 1px dashed #346e1d;
  padding-bottom: 10px;
}

.special-product__price {
  margin-top: 10px;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.3em;
}

.special-product__price > span {
  color: #72ab32;
  font-size: 1.6em;
}

.special-product__cart {
  margin-top: 5px;
}

.tree {
  background: url("/images/tree-layer.png") top center repeat;
}

.about-wrapper {
  background: url("/images/about-layout.png") top center no-repeat;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
}

.about {
  background-color: rgba(69, 115, 32, 0.8);
}

.about__content {
  margin: auto;
  width: 1200px;
  height: 800px;
  padding-top: 100px;
  color: #ffff;
}

.about__left {
  margin-left: 40px;
}

.about__cit {
  background: url("/images/cit.png") left center no-repeat;
}

.container.grid-list-xs .layout .flex.about__cit {
  padding-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-official {
  background-color: black;
  padding: 5px 10px;
  text-decoration: none;
  color: #ffff;
}

.low-font {
  font-size: 1.8em;
}

.news__conent {
  color: #ffff;
  font-family: "Open-Sans", sans-serif;
  font-size: 0.9em;
  margin-top: 40px;
  margin-left: 40px;
}

.news__date {
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.1em;
}

.news__header {
  background-color: #ffbf00;
  display: inline-block;
  padding: 2px 20px;
  color: #56331d;
}

.news__header a {
  color: black;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.2em;
}

.news__button {
  margin-left: 40px;
}

.delivery-wrapper {
  width: 100%;
  background: url("/images/light-tree.png") center center repeat;
  padding-bottom: 30px;
}

.delivery {
  margin: auto;
  width: 1200px;
}

.delivery__header {
  text-transform: uppercase;
  font-size: 2em;
  font-family: "OpenSans-CondensedBold", sans-serif;
  color: #56331d;
  background: url("/images/banner-header.png") left center no-repeat;
  height: 100px;
  line-height: 100px;
  padding-left: 30px;
}

.delivery__header--margin {
  margin-left: 50px;
}

.delivery__subheader {
  color: #55982d;
}

.delivery__buttom {
  margin-right: 70px;
  margin-top: 30px;
  display: inline-block;
  background: none;
  border: 2px solid #55982d;
  padding: 7px;
  font-size: 1.2em;
  color: #56331d;
  text-transform: uppercase;
  -mox-border-radius: 6px;
  border-radius: 6px;
  text-decoration: none;
  font-family: "OpenSans-CondensedBold", sans-serif;
  padding: 5px 10px;
}

.delivery__desc {
  font-size: 1.2em;
  line-height: 1.2;
}

.container.grid-list-xs .layout .flex .delivery__desc {
  padding: 4px;
}

.delivery__tel {
  color: #56331d;
  font-family: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.1em;
}

.deliverty_tabl {
  font-size: 1em;
}

.delivery__info {
  font-size: 1.1em;
}

.stock {
  background: url("/images/stocks.png") center center no-repeat;
  min-width: 259px;
  min-height: 265px;
  padding: 10px;
}

.stock__pr {
  color: #ffbf00;
  font-size: 2.5em;
  font-family: "OpenSans-CondensedBold", sans-serif;
}

.stock__pr span {
  font-size: 0.5em;
  text-transform: uppercase;
  background-color: #ffbf00;
  color: #56331d;
  padding: 5px 5px;
}

.stock__desc {
  margin-top: 13px;
  font: "OpenSans-CondensedBold", sans-serif;
  font-size: 1.5em;
  color: #ffff;
  text-transform: uppercase;
  line-height: 1.0;
}

.stock__price {
  margin-top: 50px;
  color: #ffbf00;
  font-size: 1.5em;
  font: "OpenSans-CondensedBold", sans-serif;
}

.stock__sub-price {
  color: #ffff;
  font-size: 0.8em;
}

.stock__btn {
  font-size: 0.5em;
}

.stock__price--bottom {
  margin-bottom: 40px;
}

.application .theme--light.footer,
.theme--light .footer {
  background: url("/images/footer-top-lay.png") top left repeat-x, -webkit-gradient(linear, right top, left top, from(#4e642a), to(rgba(78, 100, 42, 0.6))), url("/images/footer-layout.png") bottom center repeat-x;
  background: url("/images/footer-top-lay.png") top left repeat-x, linear-gradient(to left, #4e642a, rgba(78, 100, 42, 0.6)), url("/images/footer-layout.png") bottom center repeat-x;
}

.footer-wrapper {
  margin: 0 auto;
  width: 1200px;
}

.footer-top-menu {
  padding-top: 15px;
  height: 57px;
}

.footer-top-menu > li {
  font-family: "OpenSans-CondensedBold", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  list-style-type: disc;
  margin: 0px 20px 0px 20px;
  color: #ffff;
}

.footer__sicial-icons {
  padding-top: 15px;
}

.footer__chicken {
  margin-top: -20px;
}

.footer__phone {
  display: block;
  color: #ffff;
  margin-top: 10px;
}

.footer__mail {
  font-size: 1em;
  font-family: "Open-Sans", sans-serif;
  color: #ffbf00;
}

.footer__address {
  margin-top: 30px;
  font-size: 1em;
}

.footer__address--margbot10 {
  margin-bottom: 10px;
}

.application .theme--light.footer__menu.list,
.theme--light .footer__menu .list {
  background: none;
}

.footer__menu .list__tile {
  color: #ffff;
  font-family: "Open-Sans", sans-serif;
  font-size: 0.9em;
  height: 42px;
}

.footer-menu-ava {
  margin-right: 10px;
}

.footer__copyright {
  font-size: 0.8em;
  margin-right: 30px;
}

.footer__logo {
  margin-right: 30px;
}

.footer-right {
  margin-right: 30px;
}

.detail__title {
  color: white;
  margin-top: 20px;
}

.detail__price {
  color: yellow;
  font-size: 16px;
}

.detail__price--big {
  font-size: 20px;
}

.detail-characteristics__left-table {
  float: left;
}

.detail-characteristics__right-table {
  float: right;
}

.detail-characteristics__table {
  color: white;
  width: 380px;
  border: none;
  border-collapse: collapse;
}

.detail-characteristics__table tr {
  line-height: 20px;
}

.detail-characteristics__table thead th {
  text-align: left;
}

.detail-characteristics__table tbody tr:nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.1);
}

.detail-characteristics__table tbody tr td {
  padding: 5px 10px;
  font-family: "OpenSans-Lisght", sans-serif;
  font-size: 0.9em;
}

.detail-characteristics__table thead tr th {
  padding: 5px 10px;
  font-family: "OpenSans-Lisght", sans-serif;
  font-size: 0.9em;
}

.detail-characteristics-marg {
  margin-left: 70px;
}

.detail-characteristics-marg p {
  display: block;
  margin-right: 20px;
  line-height: 20px;
}

.detail-characteristics .card__text {
  background-color: red;
}

