.cart {
  width: 156px;
  height: 57px;
  background: rgba(48,107,28,1);
}
.cart table {
  font-family: $font-os-light;
  //height: 100%;
  padding-top: 5px;
  color: white;
  font-size: 0.8em;
}

.cart__col-yell {
  color: #F3C042;
}