.cart {
  width: 156px;
  height: 57px;
  background: rgba(48,107,28,1);
  font-family: $font-os-condenced-bold;
}
.cart table {
  font-family: $font-os-light;
  padding-left: 10px;
  padding-top: 10px;
  color: white;
  font-size: 0.8em;
}

.cart__col-yell {
  color: #F3C042;
}

.cart__img {
  padding-right: 10px;
}