@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('/fonts/OpenSans-Semibold/OpenSans-Semibold.eot');
  src: local('OpenSans-Semibold'), url('/fonts/OpenSans-Semiboldy/OpenSans-Semibold.woff') format('woff'), url('/fonts/OpenSans-Semibold/OpenSans-Semibold.ttf') format('truetype'), url('/fonts/OpenSans-Semibold/OpenSans-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-Lisght';
  src: url('/fonts/OpenSans-Lisght/OpenSans-Lisght.eot');
  src: local('OpenSans-Lisght'), url('/fonts/OpenSans-Lisght/OpenSans-Lisght.woff') format('woff'), url('/fonts/OpenSans-Lisght/OpenSans-Lisght.ttf') format('truetype'), url('/fonts/OpenSans-Lisght/OpenSans-Lisght.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans-CondensedBold';
  src: url('/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.eot');
  src: local('OpenSans-CondensedBold'), url('/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.woff') format('woff'), url('/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.ttf') format('truetype'), url('/fonts/OpenSans-CondensedBold/OpenSans-CondensedBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}