.application .theme--light.footer, .theme--light .footer {
  background: url('#{$path}/footer-top-lay.png') top left repeat-x, linear-gradient(to left, rgba(78,100,42,1), rgba(78,100,42,0.6)), url('#{$path}/footer-layout.png') bottom center repeat-x;
}

.footer-wrapper {
  margin: 0 auto;
  width: $main-width;
}

.footer-top-menu {
  padding-top: 15px;
  height: 57px;
}

.footer-top-menu>li {
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;
  display:inline-block;
  list-style-type: disc;
  margin: 0px 20px 0px 20px;
  color: $color-white;
}

.footer__sicial-icons {
  padding-top: 15px;
}

.footer__chicken {
  margin-top: -20px;
}

.footer__phone {
  display: block;
  color: $color-white;
  margin-top: 10px;
}

.footer__mail {
  font-size: 1em;
  font-family: $font-os;
  color: $color-yell;
}

.footer__address {
  margin-top: 30px;
  font-size: 1em;
}

.footer__address--margbot10 {
  margin-bottom: 10px;
}

.application .theme--light.footer__menu.list, .theme--light .footer__menu .list {
  background: none;
}

.footer__menu .list__tile {
  color: $color-white;
  font-family: $font-os;
  font-size: 0.9em;
  height:42px;
}

.footer-menu-ava {
  margin-right: 10px;
}

.footer__copyright {
  font-size: 0.8em;
  margin-right: 30px;
}

.footer__logo {
  margin-right: 30px;
}

.footer-right {
  margin-right: 30px;
}