.header-layout {
  height: 707px;
  background: url('#{$path}/header-shadow-top.png') top center repeat-x, url('#{$path}/header-layer.png') top center no-repeat;
}

.header__menu {
  height: 57px;
  background:  rgba(62,115,32,0.8);
  width: 100%;
}

.header__main {
  width: $main-width;
  margin: auto;
}