.menu-left-img {
  position: absolute;
  z-index: 100;
  margin-top: -70px;
}
.menu-left-wrappers {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 100;
  margin-top: -60px;
  overflow: visible;
  @include border-radius(0 0 10px 10px);
}

.theme--light .menu-left-wrappers .list {
  background: url('#{$path}/menu-left-wrapper.png') repeat right top;
}

.menu-left-wrappers .list__group__items--no-action .list__tile {
  padding-left: 20px;
}

.menu-left-wrappers .list__group__items .list__tile:hover {
  background: rgba(0,0,0,0.1);
}

.menu-left-item-el {
  font-size: 0.9em;
  font-family: $font-os-condenced-bold;
  color: $color-green-light;
}

.menu-left-wrapper {
  position: absolute;
  margin-left: 0px;
  width: 262px;
  z-index: 1000;
  //margin-top: -442px;
  overflow: visible;
  //background: url('#{$path}/header-layer.png') top center no-repeat;

}

.menu-left {
  margin: -5px;

  /*border-width: 1px;
  border-color: black;
  border-style: dashed;
  @include border-radius(10px);*/
  background: url('#{$path}/menu-left-wrapper.png') repeat right top;
  @include border-radius(10px);
  padding-bottom: 10px;
}

.menu-left__hr-img {
  margin-left: -7px;
}

.menu-left__header {
  font-size: 1.6em;
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;
  color: $color-white;
  background: url('#{$path}/menu-left-header.png') no-repeat center center, $color-yell;
  text-transform: uppercase;
}



/*.menu-left ul {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.menu-left-item {
  background: url('#{$path}/menu-left-item-lay.png') repeat-x center center;
  font-size: 1em;
  line-height: 1.5;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  display: block;
}

.menu-left-item img {
  float: right;
}

.menu-left-item a  {
  text-decoration: none;
  color: $color-white;
  font-size: 1.2em;
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;
}

.menu-left span ul li {
  list-style: none;
  padding-left: 20px;
  padding: 5px;
  //display: none;
}

.menu-left span ul li a {
  text-decoration: none;
  color: $color-green;
  font-family: $font-os-light;
  padding-left: 5px;
}

.menu-left__main-menu {
  position: relative;
}

.menu-left__main-menu .sub-menu {
  position: absolute;
  left: 280px;
  z-index: 10;
  width: 450px;
  margin: 0;
  padding: 0;
  list-style: none;
  //background: #fcf8e3;
  background: url('#{$path}/menu-left-wrapper.png') repeat right top;
  @include border-radius(0px 0px 10px 10px);
  border: 3px solid $color-green-light;
}


.sub-menu__block {
  float: left;
  margin-right: 40px;
}

.sub-menu__block  {
  text-decoration: underline;
  font-size: 0.8em;
}

.sub-menu__block ul li span {
  display: block;
  margin-bottom: 10px;
}

.sub-menu__block ul li span a{
  color: $color-green-light;
  text-decoration: underline;
  font-size: 1.1em;
  //font-family: $font-size-base;
}*/



.menu-left-wrappers .list__group__header {
  background: url('#{$path}/menu-left-item-lay.png') repeat-x center center;
  color: $color-white;
  font-size: 1.2em;
  font-family: $font-os-condenced-bold;
  text-transform: uppercase;

  /*line-height: 1.5;
  padding: 10px;
  padding-left: 25px;
  margin: 0;
  display: block;*/
}

.theme--light .menu-left-wrappers  .list .list__group__header--active{
  //background:  url('#{$path}/menu-left-item-lay-active.png') no-repeat right -20px center, url('#{$path}/menu-left-item-lay.png') repeat-x center center;
  //background: url('#{$path}/menu-left-item-lay.png') repeat-x center center;
}

.theme--light .menu-left-wrappers  .list .list__group__header:hover {
  background: url('#{$path}/menu-left-item-lay.png') repeat-x center center;
}


.list-menu-left {
  padding-top: 0px;
  @include border-radius(0px 0px 10px 10px);
}

.menu-left-h {
  width: 262px;
}


.sub-menu {
  background: url('#{$path}/menu-left-wrapper.png') repeat right top;
  padding: 10px;
  border: 3px solid $color-green-light;
  @include border-radius(0px 0px 10px 10px);
  //max-height: 252px;
}

.sub-menu__head>li {
  margin-top:10px;
  margin-left: 20px;
  margin-right: 20px;
  display:inline-block;
}

.sub-menu__head li {
  list-style: none;
}

.sub-menu__head a{
  margin-left: 10px;
  margin-top:5px;
  color: $color-green-light;
  text-decoration: underline;
  font-family: $font-os-semibold;
}

.sub-menu__item a{
  font-size: 0.8em;
  color: $color-green-dark;
}

.application .theme--light.footer__menu.list, .theme--light .sub-menu .list {
  background: none;
}

.sub-menu .list__tile {
  font-family: $font-os;
  font-size: 0.9em;
  height:22px;
}

.sub-menu .list__tile>a {
  color: $color-green-dark;
}

.sub-menu__header {
  padding-left: 15px;
  color: $color-green;

}


.application .theme--light.list .list__group--active:after, .application .theme--light.list .list__group--active:before, .application .theme--light.list .list__group__header:hover, .application .theme--light.list .list__tile--highlighted, .application .theme--light.list .list__tile--link:hover, .theme--light .list .list__group--active:after, .theme--light .list .list__group--active:before, .theme--light .list .list__group__header:hover, .theme--light .list .list__tile--highlighted, .theme--light .list .list__tile--link:hover {
  background: rgba(0,0,0,0)
}

.menu-left__link {
  text-decoration: none;
  color: $color-green-light;
}
