.phone {
  width: 400px;
  height: 151px;
  margin-top: 20px;
  color: white;
  //text-align: right;
}

.phone__sun {
  font-size: 0.8em;
  width: 300px;
  padding: 3px 8px;
  background:  rgba(62,115,32,1);
}

.phone__number {
  font-family: $font-os-condenced-bold;
  font-size: 2em;
  text-transform: uppercase;
}

.phone__callback {
  font-size: 0.9em;
  margin-top: 20px;
  display: inline-block;
  background: none;
  border: 2px solid $color-yell;
  -mox-border-radius: 6px;
  border-radius: 6px;
  padding: 7px;
  font-weight: bold;
  color: $color-yell;
  text-transform: uppercase;
  text-decoration: none;
  font-family: $font-os-condenced-bold;
  background: url('#{$path}/phone-img.png') left 4px center no-repeat;
  padding-left: 30px;
}

.footer__address {
  color: $color-white;
  font-size: 1.2em;
}