$path: '/images';
$font-os-semibold: 'OpenSans-Semibold', sans-serif;
$font-os-light: 'OpenSans-Lisght', sans-serif;
$font-os-condenced-bold: 'OpenSans-CondensedBold', sans-serif;
$main-width: 1400px;
$color-yell: #F6D349;
$color-white: #ffff;
$color-green: #346e1d;