@import 'variables';
@import 'mixins';
body {
  //background: url('#{$path}/body-layer.png') top center no-repeat;
}
@import 'font';
.logo {
  height: 198px;
  width: 178px;
  float: right;
}
@import 'header';
@import 'menu';
@import 'cart';


.find {
  padding-top: 19px;
}

@import 'slogan';
@import 'phone';


.animal-panel {
  //position: absolute;
  width: 1200px;
  height: 151px;
  margin-top: 253px;
  margin-left: 70px;
  color: black;
  padding-left: 10px;
}

.animal-panel img {
  display: inline-block;
  margin-left: 30px;
}

.full-width {
  width: 100%;
}

.inline {
  display: inline-block;
}

@import 'menu-left';
@import 'content';
@import 'baner';
@import 'product';
@import 'about';
@import 'news';
@import 'delivery';
@import 'stock';
@import 'footer';
@import 'detail';
@import 'detailcharacteristics';



